@layer base, utils, components;

@import "@webtui/css/base.css" layer(base);

/* Utils */
@import "@webtui/css/utils/box.css" layer(utils);

/* Components */
@import "@webtui/css/components/button.css" layer(components);
@import "@webtui/css/components/typography.css" layer(components);
@import "@webtui/css/components/badge.css" layer(components);

/* Theme */
@import "@webtui/theme-catppuccin" layer(components);
@import "@webtui/theme-gruvbox" layer(components);
@import "@webtui/plugin-nf" layer(components);

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-family: "Iosevka Nerd Font";
  --font-mono: "Hack Nerd Font";
  /* --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace; */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--base);
  color: var(--text);
  font-family: var(--font-mono);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
